@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
    font-family: 'Poppins';
    margin: 0 auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
body {
    background-color: #f7f7f7;
}
li {
    list-style: none;
}
ul {
    padding: 0;
}
a {
    color: #1c1b1f;
    text-decoration: none;
}
main{
    max-width: 80vw;
    width: 100%;
}
html{
    font-size: 62.5%;
    --primaryGradient: linear-gradient(93.12deg, #ae833f 50%, #daa44f 100%, #fff 50%);
    --secondGradient: linear-gradient(93.12deg, #daa44f 45%, #ae833f 100%, #fff 50%);
    --grayGradient: linear-gradient(93.12deg, #e2e2e2 45%, #c1b8f8 100%, #fff 50%);
    --cobaltGradient: linear-gradient(95deg, #1c1b1f 45%, #e2e2e2 100%, #fff 50%);
    --cristalGradient: linear-gradient(95deg, #e2e2e2 45%, #1c1b1f 100%, #fff 50%);
}
.clear {
    clear: both;
}

.vanta-canvas {
    position: fixed !important;
}
@keyframes animation-1 {
    from {
        opacity: 0;
        transform: translate3d(0, -60px, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}
@keyframes animation-span-box {
    from{
		top: -50%;
	}
	to {
		top: 2%;
	}
}
#header--menu {
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0PX 1PX 5PX 0PX #E2E2E2;
}
.header--menu--navbar {
    width: 100%;
    background-color: #fff;
    height: 46px;
}
#navbar--first{
    height: 55px;
    background-image: url(../img/background\ 1.jpg);
}
#header--menu--navbar--title H3 {
    color: white;
    padding: 10px;
    width: 60%;
    float: left;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
}
.header--menu--navbar--network {
    float: right;
}
.header--menu--navbar--network ul li {
    color: rgb(255, 255, 255);
    padding: 5px 10px;
    cursor: pointer;
    display: inline-block;
    font-size: 1.6rem;
}
/*===========================NAVBAR MENU===========================*/
.header--menu--navbar ul {
    float: left;
}
.header--menu--navbar ul li{
    display: inline-block;
    margin-top: 10px;
}
.header--menu--navbar ul li a{
    color: #1c1b1f;
    padding: 12px;
    font-size: 16px;
}
.header--menu--navbar ul li a:hover{
    color: #e4d500;
    border-bottom: 1px solid #e4d500;
    transition: all 0.2s;
}
.header--menu--navbar--acount {
    padding: 11px;
    color: #1c1b1f;
    font-size: 15px;
    float: right;
    cursor: pointer;
}
.header--menu--navbar--acount:hover {
    border-bottom: 1px solid #e4d500;
}
.header--menu--navbar--acount a {
    margin-right: 10px;
}
/*===========================MENU PARA 600PX================================*/
.menu--mobile--navbar {
    padding-top: 80px;
    display: none;
    width: 100%;
}

.menu--mobile--navbar {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
    grid-gap: 30px;
}
/* .grid img {
    max-width: 120px;
} */
.menu--mobile--navbar div {
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 #192b473a;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
    padding: 8px 0px;
    height: 6vh;
}
.menu--mobile--navbar div legend {
    color: #000;
    font-size: 3.2rem;
    background-color: transparent;
    text-align: center;
}
/*=====================MODAL MENU===========================*/
.header--menu--navbar--mobile {
    padding-top: 30px;
    position: fixed;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1b1f;
    transform: translateY(-65vh);
    height: 69vh;
    display: none;
    transition: all 0.4s;
    border-bottom: 1px solid #ae833f;
    box-shadow: 0 2px 5px 0 #192b473a;
    z-index: 4002 !important;
}
.header--menu--navbar--mobile.show {
    transform: translateY(0);
    transition: all 0.4s;
    z-index: 4002;
}
.menu--mobile--toggle {
    cursor: pointer;
    background-color: #1c1b1f;
}

.menu--mobile--acount {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6e6e6e21;
    color: #e6e6e6;
    font-size: 2.2rem;
    padding: 10px;
}
.menu--mobile--acount div {
    padding: 5px;
    display: block;
}
.menu--mobile--acount div a {
    color: #fff;
    font-size: 4rem;
    padding: 6px 14px;
    border: 1px solid #6e6e6e21;
    border-radius: 3px;
}
.menu--mobile--links {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #6e6e6e21;
    color: #e6e6e6;
    font-size: 2.2rem;
    padding-bottom: 5px;
}
.menu--mobile--links div {
    padding: 5px;
    display: block;
}
.menu--mobile--links div a{
    color: #fff;
    font-size: 4rem;
    padding: 6px 14px;
    border: 1px solid #6e6e6e21;
    border-radius: 3px;
}

/*===========================CONTENT==============================*/

#sec--content {
    padding-top: 7%;
}

/*========================SOBRE===========================*/

.sec--content--about {
    border-bottom: 1px solid #e0e0e0;
    font-size: 1.6rem;
    line-height: 3.2rem;
    width: 100%;
}
.sec--content--about legend{
    color: #ae833f;
    font-family: 'Dancing Script', cursive;
    font-size: 3.6rem;
    padding: 30px 0 10px 0px;
}
#about--container {
    display: flex;
    height: 50%;
    align-items: center;
}
#about--container div{
    margin: 30px;
    width: 90%;
    text-align: justify;
}
#about--container img {
    width: 25%;
    border-radius: 50%;
}


/*======================================PERFIL====================================*/
.sec--content--perfil {
    padding-top: 18vh;
    width: 100%;
    padding-bottom: 50px;
}
.perfil--case {
    position: relative;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    box-shadow: 0 1px 5px 0 #192b473a;
    background-color: #fff;
    display: flex;
    width: 400px !important;
    justify-content: center;
}
.perfil--case button {
    color:#000;
}
.perfil--case button:hover {
    color:#000 !important;
    background-color: #fff !important;
}
.perfil--case--first {
    display: flex;
    flex-direction: column;
    transition: all .4s;
}
.perfil--case img{
    background-color: white;
    margin-top: -100px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid #e0e0e0;
}
.perfil--content {
    margin-top: 10px;
    text-align: center;
}
.perfil--content h4{
    font-size: 3rem;
    font-family: 'Dancing Script', cursive;
}
.perfil--content p {
    font-size: 1.6rem;
}
.perfil--network {
    width: 60%;
    margin-top: 10px;
}
.perfil--network ul {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}
.perfil--exchange {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 2rem;
    cursor: pointer;
    pointer-events: all;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 1px 5px 0 #6e6e6e;
    width: 40px;
}
.perfil--case--first.change {
    transform: rotatey(-180deg);
    transition: all .4s;
    opacity: 0;
    pointer-events: none;
}

.perfil--case--second {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    transform: rotateY(-180deg);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
}
.perfil--case--second.change {
    transform: rotateY(0);
    opacity: 1;
    pointer-events:all;
    transition: all .4s;
}
/* ACESSO RÁPIDO */
.sec--content--fast--acess {
    width: 500px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    align-items: center;
}
.sec--content--fast--acess button {

    font-size: 1.6rem !important;
}
/*========================STUDIO LINK=======================*/
.sec--content--studio--link {
    background-color: #1c1b1f;
    color: white;
    box-shadow: 0 1px 5px 0 #e2e2e2;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    position: relative;
    margin-bottom: 50px;
    padding: 20px;
}
.studio--tattoo--logo {
    margin-bottom: 30px;
    width: 20vw;
    color: #ae833f;
}
.sec--content--studio--link p {
    font-size: 1.4rem;
}
.sec--content--studio--link div {
    padding: 10px;
}
.studio--galery img {
    width: 20vw;
    max-width: 250px;
    box-shadow: 0 1px 5px 0 #e0e0e0;
    border-radius: 3px;
}
/*========================GALERIA===========================*/

.sec--content--galery--showcase div {
    border-radius: 3px;
    position: relative;
    width: 200px;
}
.sec--content--galery--showcase div:hover {
    box-shadow: 0 1px 5px 0 #192b473a;
    transition: all 0.2s; 
}
.sec--content--galery--showcase img {
    max-width: 200px;
}
.sec--content--galery--showcase img:hover {
    max-width: 200px;
    filter: blur(1px);
    opacity: 0.8;
    transition: all 0.2s;

}
.sec--content--galery--showcase {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    grid-gap: 20px;
}
.sec--content--galery {
    background-color: white;
    border-radius: 5px;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    position: relative;
    margin-bottom: 50px;
}
.sec--content--galery--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8px;
    width: 50%;
}
.sec--content--galery--controls div {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid #f0f0f000;
}

.sec--content--galery--button {
    font-size: 1.6rem;
    color: #6e6e6e;
    padding: 10px 5px;
    cursor: pointer;
    border-bottom: 1px solid #f0f0f000;
}
.sec--content--galery--button:hover {
    border-bottom: 1px solid #e0e0e0;
    color: #ae833f;
}
.sec--content--galery--controls .galery--page--numbers div{
    color: #6e6e6e;
}
.sec--content--galery--controls .galery--page--numbers div:hover {
    color: #ae833f;
    border-bottom: 1px solid #e0e0e0;
}
/*===============================GALERIA SLIDER ================================*/
.sec--content--galery--mobile {
    width: 100vw;
    display: none;
    background-color: #fff;
    position: relative;
}
.galery--mobile--slider a img{
    max-width: 50vw;
}
/*===========================SLIDER DO LOCAL===================*/
.sec--content--local--images {
    background-color: #fff;
}
.sec--content--local--images img {
    display: inline-table;
    background-color: #ffffff;
    height: 40vh;
    object-fit: cover;
    border: 1px solid #f1f1f1;
}

/*===========================SLIDER PREDEFINIÇÕES===================*/

.slick-initialized {
    overflow: hidden;
}

.slick-arrow {
    display: none !important;
}
.slick-dots li button {
    display: none;
}
.slick-dots {
    text-align: center;
    background-color: transparent;
}

.slick-dots {
    margin-bottom: 23px;
    width: 10vw;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-initialized {
    overflow: hidden;
}


li.slick-active button {
    background-color: #4f85da;
}

/*============================CONTATO===============================*/
.sec--content--contact {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.sec--content--contact iframe {
    width: 50%;
}
.sec--content--contact--info legend {
    color: #ae833f;
    font-family: 'Dancing Script', cursive;
    font-size: 3.6rem;
    padding-bottom: 20px;
}
.sec--content--contact--info {
    line-height: 2.2rem;
    font-size: 1.4rem;
    padding: 20px;
}
.sec--content--send--message{
    padding: 20px;
    background-color: #1c1b1f;
    color: white;
    border-radius: 3px;
    box-shadow: 0 1px 5px 0 #192b473a;
    margin-top: 20px;
}
.sec--content--send--message legend {
    color: #ae833f;
    font-family: 'Dancing Script', cursive;
    font-size: 3.6rem;
    padding-bottom: 10px;
}
.sec--content--send--message input {
    color: white;
    font-size: 1.6rem;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #1c1b1f;
    width: 100%;
    outline: none;
}
.sec--content--send--message input[type=submit]{
    background: var(--primaryGradient);
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
}
.sec--content--send--message input[type=text] {
    line-height: 100px;
    background-color: #f0f0f0;
    margin-top: 20px;
    color: #1c1b1f;
}

/*=========================FOOTER=========================*/

.foot--content--privacy--warning {
    margin-top: 5%;
    height: 20px;
    background: var(--secondGradient);
}
.foot--content--privacy--warning legend {
    padding: 1px;
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
    justify-content: center;
}
.foot--content {
    height: 22vh;
    background-color: #1c1b1f;
}
.foot--content--column ul {
    float: left; 
    width: 30%;
    margin-left: 10px;
}
.foot--content--column legend {
    font-size: 2rem;
    color: #f0f0f0;
    margin-top: 3%;
}
.foot--content--column ul li a {
    color: #f0f0f0;
}
.foot--content--column ul li a:hover {
    color: #ae833f;
    transition: all 0.2s;
}
.foot--content--column ul li {
    font-size: 1.3rem;
    color: #f0f0f0;
    line-height: 30px;
}
.foot--content--credits {
    background: var(--primaryGradient);
    height: 20px;
}
.foot--content--credits legend {
    padding: 1px;
    font-size: 1.2rem;
    color: #ffffff;
    display: flex;
}
/*===================FOOTER MOBILE=====================*/

.foot--content--mobile {
    display: none;
}
.foot--content--mobile ul {
    padding: 10px;
}
.footer--mobile--link{
    padding: 15px 0px;
    color: white;
    line-height: 50px;
    font-size: 2rem;
    border-bottom: 1px solid #6e6e6e;
    width: 100%;
    float: left;
    cursor: pointer;
}
.footer--mobile--link i {
    margin-left: 10px;
}
/*--------------------------------   ANIMAÇÃO FLECHAS   --------------------------------*/
.arrow01 {
    transform: rotate(-90deg);
    transition: all 0.2s;
}
.arrow02 {
    transform: rotate(-90deg);
    transition: all 0.2s;
}
.arrow03 {
    transform: rotate(-90deg);
    transition: all 0.2s;
}
.arrow01.rotate {
    transform: rotate(-180deg);
    transition: all 0.2s;
}
.arrow02.rotate {
    transform: rotate(-180deg);
    transition: all 0.2s;
}
.arrow03.rotate {
    transform: rotate(-180deg);
    transition: all 0.2s;
}
/*--------------------------------   MODAIS DO FOOTER   --------------------------------*/

/*===============================   LOGIN =====================================*/

.mod--sign {
    background-color: #000000d5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    animation: animation-1 0.2s;
    z-index: 2002;
    display: none;
}
.mod--sign.show {
    display: initial;
}
.mod--sign--case {
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    overflow: hidden;
    width: 30vw;
    height: 60vh;
    display: flex;
}
.mod--sign--case form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
}
.mod--sign--case div {
    overflow: hidden;
    color: white;
    padding: 10px;
    width: 20%;
    line-height: 50px;
    font-size: 2.8rem;
    background-image: url(../img/background\ 2.jpg);
}
.mod--sign--case div:hover {
    width: 100%;
    transition: all .4s;
}
.mod--sign--case form input {
    width: 80%;
    line-height: 40px;
    border: none;
    border-bottom: 1px solid #1c1b1f;
    outline: none;
}
.mod--sign--case form input[type=submit] {
    display: none;
}
.mod--sign--case form button {
    border: none;
    color: white;
    background-color: #1c1b1f;
    line-height: 30px;
    border-radius: 3px;
    margin-top: 20px;
    width: 80%;
    cursor: pointer;
}
.mod--sign--case p {
    padding-top: 20px;
    color: #6e6e6e;
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
}
.mod--sign--case img {
    width: 55%;
}

/*--------------------------------   TATTOO STÚDIO   --------------------------------*/

/*====================================================================*/
/*============================MEDIA QUERY=============================*/
/*====================================================================*/
@media(max-width:1330px) {
    .perfil--case {
        width: 30 vw;
    }
    .mod--sign--case {
        width: 50vw;
    }
}
@media(max-width:1050px){
    main{
        max-width: 100vw;
    }
    html {
        font-size: 57%;
    }
    .sec--content--about div{
        margin: 20px;
    }
    .mod--sign--case {
        width: 55vw;
    }
    .perfil--case {
        width: 45vw;
    }
    .sec--content--fast--acess {
        width: 45vw;
    }

}
@media(max-width:820px) {
    html {
        font-size: 52%;
    }
}
@media(max-width:700px){
    html{
        font-size: 50%;
    }
    .header--menu--navbar--network {
        display: none;
    }
    .mod--sign--case {
        width: 70vw;
    }
    .sec--content--galery {
        display: none;
    }
    .sec--content--galery--mobile {
        display: block;
    }
    .perfil--case {
        width: 55vw;
    }
    .sec--content--fast--acess {
        width: 55vw;
    }
    .perfil--case img {
        width: 50%;
    }
    
}
@media(max-width:630px) {
    html {
        font-size: 45%;
    }
    .header--menu--navbar--mobile {
        display: flex;
    }
    .header--menu--navbar{
        display: none;
    }
    .foot--content ul li {
        line-height: 20px !important;
    }
    #about--container img {
        width: 35%;
        border-radius: 50%;
    }
    .perfil--case {
        width: 90vw;
    }
    
    .sec--content--fast--acess {
        width: 90vw;
    }
    #studio--photo--background {
        object-fit:cover;
        width: 100%;
        max-height: 60vh;
    }
}
@media(max-width:550px){
    .foot--content--column {
        display: none;
    }
    .foot--content--mobile {
        display: block !important;
    }
    .mod--sign--case {
        width: 90vw;
    }
    #about--container {
        display: none;
    }
    #wb_submenu {
        display: block;
    }
}
@media(max-width:450px){
    .mod--sign--case {
        width: 95vw;
        height: 90vh;
    }
}
